.App {
  text-align: center;
}

body {
 height:100%;
 overflow: visible;
 display: flex;
 flex-direction: column;
}

.body{
  height:100%;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: blue;
  color: white;
}

.dropdown {
  height: 100%;
  position: relative;
}

.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  list-style: none;
}

.log-button {
  border: none;
  font-size: 14px;
}

p{
  margin-top: 5px;
}

.shopBody {
  height: 100%;
  padding: 5%;
  display: block;
  overflow: visible;
}

.image-slider{
  width: 100%;
  height: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
}

@media (min-height: 300px) {
  .image-slider{ height: 75%;}
}
@media (min-height: 500px) {
  .image-slider { height: 100%;}
}

.alice-carousel{
  width: 75%;
}

.alice-carousel__wrapper{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
}

.__alice-carousel__stage-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
}

.home-image{
  height: 75%;
  width: 400px;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

@media (min-width: 400px) {
  .home-image { width: 200px;}
}

@media (min-width: 600px){
  .home-image { width: 400px;}
}

@media (min-height: 300px) {
  .home-image { height: 200px;}
}

@media (min-height: 700px) {
  .home-image { height: 500px;}
}

.home-image-title{
  max-width: 110%;
  height: 20%;
  font-size: 18px;
  margin: 0;
  z-index: 10;
  background-color: rgb(233, 233, 233);
  position: absolute;
  opacity: 70%;

}

.sliderimg{
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-direction: row;
}

.alice-carousel_dots,  .alice-carousel_prev-btn, .alice-carousel_next-btn{
  position: relative;
}

a{
  display: flex;
  justify-content: center;
}

.nav-links {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li:hover{
  background-color: white;
  color: blue
}

.shop{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-card{
  height: 250px;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item-image{
  height: 150px;
  max-width: 100px;
  object-fit: contain;
}

.item-image:hover{
  height: 250px;
  max-width: 200px;
}

.item-list{
  height: 1500px;
  max-width: 95%;
  display: grid;
  gap: 1rem;
}

@media (min-width: 450px) {
  .item-list { grid-template-columns: repeat(2, 1fr);}
}

@media (min-width: 700px) {
  .item-list { grid-template-columns: repeat(3, 1fr);}
}

@media (min-width: 1000px) {
  .item-list { grid-template-columns: repeat(4, 1fr);}
}



.item-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-page-detail{
  display: flex;
  width: 300px;
  justify-content: space-evenly;
}

.item-rating{
 display: flex;
 width: 150px;
 justify-content: space-between;
}

.item-page{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.buy-box{
  display: flex;
  flex-direction: column;
  height: 150px;
}

form{
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-evenly;
}

select{
  width: 50px;
}

button{
  width: 90px;
}

.shop-cart{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-card{
  height: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  border: .5px solid grey;
  border-radius: 5px;
}

.cart-dscription{
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 50%;
}

.cart-item-image{
  height: 100px;
  max-width: 100px;
}

.cart-detail{
  height: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-info-box {
  display: flex;
  flex-direction: row;
}

.address-box, .payment-info-box, .order-history{
  height: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.address-display-box, .payment-info-display-box {
  height: 200px;
  max-width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.address-form, .payment-form{
  height: 275px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}


.address-card, .payment-card, .order-card {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  padding: 5px;
  height: 175px;
  max-width: 175px;
  border: 0.5px solid grey;
  border-radius: 5px;
  box-shadow: .5px grey;
}

.address-card-primary, .payment-card-primary {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
  padding: 5px;
  height: 175px;
  max-width: 175px;
  border: 1px solid rgb(38, 186, 1);
  border-radius: 5px;
  box-shadow: .5px grey;
}

.add-address-card, .add-payment-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  max-width: 175px;
  border: 0.5px solid grey;
  border-radius: 5px;
  box-shadow: .5px grey;
}

.add-address, .add-payment{
  height: 70px;
  max-width: 70px;
}

.checkout-display {
  height: 100%;
  min-width: 75%;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding: 2%;
}

.checkout-form {
  height: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: minmax(60%, 80%);
  grid-template-rows: .5 1.5fr 2fr 2fr 2fr 1.5fr;
}

.checkout-form-title {
  margin-top: 5px;
  height:25%
}

.checkout-address {
  max-height: 100%;
  min-height: 75%;
  min-width: 75%;
  display: grid;
  grid-template-rows: .25fr 3fr;
  grid-template-columns: 100%;
}

.billing-info {
  height: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.checkout-address-form, .checkout-payment-form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  margin-bottom: 1%;
}

.name-input, .street-input, .apt-input, .city-input, .zipcode-input {
  max-width: 100%;
}

.state-input{
  max-width: 50%;
  min-width: 25%;
}

.email-box{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.billing-address-check {
  display: flex;
  align-items: center;
  justify-content: start;
}

.same-as-shipping-text{
  margin: 0;
}

.complete-checkout {
  height: 100%;
  display: flex;
  justify-content: center;
}

.checkout-button {
  height: 100%;
  margin: 2%;
}

